/* .articles-list-item {
  text-decoration: none;
  color: #333;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
  display: block;
} */

li,
a.list-items {
  color: #ffffff8c;
}

li,
a.list-items:hover {
  color: lightgray;
  font-weight: 500;
}

.articles-list-item:hover {
  background-color: #f7f7f7;
}

.articles-list-item p {
  padding: 16px 0;
  border-bottom: none;
  color: #555;
  line-height: 1.5;
}

/* ArticleList.css */
.articles-list-item {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: black;
}

.article-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}

.article-excerpt {
  font-size: 22px;
  color: #666;
}
