.container {
  --bs-gutter-x: 1.5rem;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}
/* Add this CSS to your existing styles */

.navbar-nav .dropdown-menu a.nav-link:hover {
  color: #86b7fe;

  list-style: circle;
}

.navbar-nav .dropdown-menu a.nav-link:focus {
  color: darkblue;
}

.navbar-nav .dropdown-menu a.nav-link:not(:hover) {
  color: #86b7fe;
  background: aliceblue;
  width: 200px;
}

a.nav-link {
  text-decoration: none !important;
  list-style: circle;
}

a.nav-link:hover {
  background-color: #86b7fe !important;
  color: snow;
}

li.nav-link {
  list-style: circle !important;
  color: blue;
  background-color: #86b7fe;
}
.navbar-nav .dropdown-menu a.nav-link:hover {
  list-style: circle;
  color: snow;
  background-color: #86b7fe;
  width: 200px;
}
/* 
.nav-item {
  padding: 9px !important;
  width: 200px;
  margin-top: -9px;
} */
