.App {
  text-align: center;
}

/* ------------------------------ Added CSS ------------------------------------- */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

#page-body {
  text-align: left;
  max-width: 700px;
  margin: auto;
  padding-top: 20px;
}

.article-list-item {
  text-decoration: none;
  color: black;
  padding: 16px 0 0 0;
}

.article-list-item p {
  padding-bottom: 32px;
  border-bottom: 2px solid black;
}

#page-body h1 {
  margin-bottom: 16px;
  color: green;
}
